<ion-header>
  <ion-toolbar>
    <ion-title>Bitcoin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-img src="assets/bitcoin.svg"></ion-img>
    </ion-row>
    <ion-row *ngIf="bitcoin">
      <h1>{{bitcoin.ask | currency: currency + " "}}</h1>
      <p>Cotação média semanal: {{bitcoin.averages.week | currency: currency + " "}}</p>
    </ion-row>
    <ion-row>
      <ion-button fill="outline" shape="round" size="small" (click)="getBitcoinPrice()">
        <ion-icon name="refresh"></ion-icon>
      </ion-button>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-item>
    <ion-label>Select Currency</ion-label>
    <ion-select [(ngModel)]="currency" (ionChange)="getBitcoinPrice()">
      <ion-select-option value="EUR">EUR</ion-select-option>
      <ion-select-option value="USD">USD</ion-select-option>
      <ion-select-option value="GBP">GBP</ion-select-option>
    </ion-select>
  </ion-item>
</ion-footer>